*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}
:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --main-color:#0ef;
    --text-color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color)  ;
    color: var(--text-color);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color:var(--text-color);
    font-weight: 600;
    cursor: default;
    text-decoration: none;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    text-decoration: none;
    transition: .5s ease-in-out ;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
section{
    min-height:100vh;
    padding: 10rem 9% 2rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
}

.home-content h3{
    font-weight: 700;
    font-size: 3.2rem;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}


.home-img img{
    width:340px;
    height: 95vh;
    border-radius: 8%;
}

.home-content p{
    font-size:1.7rem;    
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-flex;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    text-decoration: none;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

/* About Section  */

.About{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img{
    width: 250px;
    height: 400px;
    border-radius: 10%;
}

.heading{
    text-align: center;
    font-size:4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}